body{
  transition: background 1s linear;
  background-image: url(./img/background.jpg);
  background-size: cover;
  background-repeat:no-repeat;

}

#headshot{

  height: 400px;
  width: 400px;
  margin: auto;
}
#headshot .img-circle{
	height: 100%;
  border-radius: 50%;
}
