/*body{
  transition: background 1s linear;
  background-image: url(./img/background.jpg);
  background-size: cover;
  background-repeat:no-repeat;

}*/
#github-icon{
  height:50px;
}

#linkedin-icon{
  height:31px;
}

#headshot{
  height: 250px;
  width: 250px;
  margin: auto;
}
#headshot .img-circle{
  top:10px;
	height: 100%;
  position: relative;
  border-radius: 50%;
}
.parallax-container{
  height:26vw;

}

#aboutme{
  height: 32vw;
}

#links{
  padding-bottom: 60px;
}

#icon{
  height:100px;
  width: 100px;

}

#project{
  height:10vw;
  color: rgb(0,0,255);
}

#thumbnill{
  height:18vw;
  width:18vw;
}

#thumbnill .img{
  margin-top: 5%;
  margin-left: 5%;
  height:90%;
}

span{
  font-weight: bold;
}
